apiVersion: tracee.aquasec.com/v1beta1
kind: Policy
metadata:
  name: file-modification
  annotations:
    description: trace file modification in /tmp
spec:
  scope:
    - global
  rules:
    - event: file_modification
      filters:
        - args.file_path=/tmp/*