# policies/secret_exfiltration.yaml.tmpl
apiVersion: aquasecurity.github.io/v1beta1
kind: TraceePolicy
metadata:
  name: secret-exfiltration
  annotations:
    description: Detect exfiltration of secrets like GITHUB_TOKEN or Actions Secret
spec:
  scope:
    - global
  rules:
    - event: sendto
      filters:
        - args.address="*"
        - args.data*=hoge