apiVersion: tracee.aquasec.com/v1beta1
kind: Policy
metadata:
  name: signatures
  annotations:
    description: trace signature events
spec:
  scope:
    - global
  rules:
    - event: file_modification
      filters:
        - args.file_path=$WORKSPACE